.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  .counter {
    margin-right: 20px;
  }


  .page_item {
    padding: 0 10px;
    margin-right: 5px;
    border: 1px solid rgba(50, 48, 134, 0.6);
    
    a {
      cursor: pointer;
    }

  }
}