@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@400;700&display=swap');

body {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    font-family: 'Gentium Book Plus', serif;
}

#root {
    width: 100%;
    height: 100%;
}

._container {
    max-width: 1290px;
    margin: 0 auto;
}